/* #text-editor {
} */

#canvas-cropped {
    display: none;
}

body{
    font-size: 15px;
}
.hide {
    display: none;
}

#runCode {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color:lightcoral;
    outline: none;
    border: none;
    height: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

span{
    align-self: center;
}

#btn-text {
    align-self: center;
}

.skip-code {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    height: 50px;
    background-color: lightcoral;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.skip-code:hover {
    background-color: rgb(199, 107, 107);
    transition: 100ms;
}

.cat-img {
    height: 30px;
    width: auto;
    margin-right: 30px;
    margin-left: 30px;
    align-self: center;
}

#runCode:hover {
    background-color: rgb(199, 107, 107);
    transition: 100ms;
}

/*
.CodeMirror { font-family: Arial, monospace; font-size: 20px; } */